@model IEnumerable<Songs>

    <br />
<h2 style="float:left">Songs</h2>

<div style="display: block;float:right">
    <a href="/Songs/InsertSong/" class="btn btn-primary">Create a New Song</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Song Title</th>
        <th>Arranger</th>
        <th>Occasion</th>
        <th>Last Performed</th>
        <th>Times Performed</th>
        <th>Action</th>
    </tr>

    @foreach (var song in Model)
    {
        <tr>
            <td><a href=/Songs/ViewSong/@song.PerformanceID>@song.PerformanceID</a></td>
            <td>@song.SongTitle</td>
            <td>@song.Arranger</td>
            <td>@song.Occasion</td>
            <td>@song.LastPerformed</td>
            <td>@song.TimesPerformed</td>
            <td>
                <a href="javascript:;" onclick="DeleteSong('@song.PerformanceID')" class="text-danger ">Delete</a>
            </td>
        </tr>
    }



</table>
